<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="FastMember" version="1.5.0" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.11.10" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
</packages>